<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>01練習Vue_20250908</title>
    <!-- vue -->
    <script type="text/javascript" src="../vue.js"></script>
</head>
<body>
  <div id="trainingVueDiv_1">    
    <form @submit="sentInfo">
      帳號:<input type="text" v-model="users.account"><br><br>
      密碼:<input type="text" v-model="users.password"><br><br>
      性別: 
      男<input type="radio" name="sex" v-model="users.sex" value="male">
      女<input type="radio" name="sex" v-model="users.sex" value="female"><br><br>
      愛好:
      看書<input type="checkbox" v-model="users.hobby" value="study">
      聽音樂<input type="checkbox" v-model="users.hobby" value="music">
      健身<input type="checkbox" v-model="users.hobby" value="sport"><br><br>
      所屬學校:
      <select name="" id="" v-model="users.city">
        <option value="0">請選擇</option>
        <option value="school-1">台大</option>
        <option value="school-2">東吳</option>
        <option value="school-3">政大</option>
        <option value="school-4">淡江</option>
        <option value="school-5">清大</option>
      </select><br><br>
      其他描述:
      <textarea name="" id="" v-model="users.describeText"></textarea><br><br>
      <input type="checkbox" v-model="users.agree">同意此約定<br>
      <button>送出</button>
    </form>
  </div>
